.mcuxpressoide_packages_support
.metadata
*logs
**/Debug
**/build
**/.gradle
**/.vscode
**/.metadata
**/.idea
**/.settings
**/local.properties
*.old
**/.o
**/.d
**/.s
*.swp
**/secp*
DW3_QM33_SDK_1.0.2/SDK/Tools/GUI/Linux/QorvoOneTWR-2.1.1-x86_64-install.sh
DW3_QM33_SDK_1.0.2/SDK/Tools/GUI/Windows/QorvoOneTWR-2.1.1-setup.exe
DW3_QM33_SDK_1.0.2/SDK/Tools/GUI/macOS/QorvoOneTWR-2.1.1.dmg
DW3_QM33_SDK_1.0.2/SDK/Firmware/DW3_QM33_SDK_1.0.2.zip
DW3_QM33_SDK_1.0.2/SDK/Tools/GUI/Linux/QorvoOneTWR-2.1.1-x86_64-install.sh
DW3_QM33_SDK_1.0.2/SDK/Tools/GUI/Windows/QorvoOneTWR-2.1.1-setup.exe
DW3_QM33_SDK_1.0.2/SDK/Tools/GUI/macOS/QorvoOneTWR-2.1.1.dmg
DW3_QM33_SDK_1.0.2/SDK/Firmware/DW3_QM33_SDK_1.0.2.zip
