[req]
default_bits       = 2048
default_days       = 365
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[req_distinguished_name]
C  = US
ST = California
L  = Los Angeles
O  = Manufacturer
CN = Device CA

[req_ext]
keyUsage         = digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
